html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

* input,
* button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

* a {
  text-decoration: none;
  color: inherit;
}

* img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 400;
}

* :disabled {
  cursor: not-allowed;
}

button:has(svg) {
  line-height: 0;
}
