:root {
  --color-primary: #27272a;
  --color-primary-medium: #3d3d40;
  --color-primary-dark: #242529;
  --color-primary-darker: #202124;
  --color-primary-light: #a1a1aa;
  --color-primary-lighter: #cfcfdb;

  --color-grey-light-1: hsl(0, 0%, 97%);
  --color-grey-light-2: hsl(0, 0%, 95%);
  --color-grey-light-3: hsl(0, 0%, 93%);
  --color-grey-light-4: hsl(0, 0%, 87%);
  --color-grey-light-5: hsl(0, 0%, 82%);

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #333;

  --color-white: #fff;
  --color-white-01: rgba(255, 255, 255, 0.1);
  --color-white-02: rgba(255, 255, 255, 0.2);
  --color-white-03: rgba(255, 255, 255, 0.3);
  --color-white-04: rgba(255, 255, 255, 0.4);
  --color-white-05: rgba(255, 255, 255, 0.5);
  --color-white-06: rgba(255, 255, 255, 0.6);
  --color-white-07: rgba(255, 255, 255, 0.7);
  --color-white-08: rgba(255, 255, 255, 0.8);
  --color-white-09: rgba(255, 255, 255, 0.9);

  --color-black: #000;
  --color-black-01: rgba(0, 0, 0, 0.1);
  --color-black-015: rgba(0, 0, 0, 0.15);
  --color-black-02: rgba(0, 0, 0, 0.2);
  --color-black-03: rgba(0, 0, 0, 0.3);
  --color-black-04: rgba(0, 0, 0, 0.4);
  --color-black-05: rgba(0, 0, 0, 0.5);
  --color-black-06: rgba(0, 0, 0, 0.6);
  --color-black-07: rgba(0, 0, 0, 0.7);
  --color-black-08: rgba(0, 0, 0, 0.8);
  --color-black-09: rgba(0, 0, 0, 0.9);

  --default-font-size: 1.6rem;

  --border-primary: 0.1rem solid var(--color-primary-medium);

  --border-light-1: 0.1rem solid var(--color-grey-light-1);
  --border-light-2: 0.1rem solid var(--color-grey-light-2);
  --border-light-3: 0.1rem solid var(--color-grey-light-3);
  --border-light-4: 0.1rem solid var(--color-grey-light-4);

  --border-dark-1: 0.1rem solid var(--color-grey-dark-1);
  --border-dark-2: 0.1rem solid var(--color-grey-dark-2);
  --border-dark-3: 0.1rem solid var(--color-grey-dark-3);
  --border-dark-4: 0.1rem solid var(--color-grey-dark-4);

  --shadow-1: 0 0.5rem 1rem var(--color-black-01);
  --shadow-2: 0 0.75rem 1rem var(--color-black-015);
  --shadow-3: 0 1rem 1.5rem var(--color-black-02);
  --shadow-4: 0 1rem 2rem var(--color-black-02);
  --shadow-5: 0 2rem 3rem var(--color-black-03);
  --shadow-6: 0 2rem 3.5rem var(--color-black-03);
  --shadow-7: 0 3rem 4rem var(--color-black-03);

  --duration-primary: 0.2s;

  --unit-huge: 12rem;
  --unit-big: 8rem;
  --unit-medium: 5rem;
  --unit-small: 3rem;
  --unit-smaller: 2rem;
  --unit-tiny: 1rem;
  --unit-tinier: 0.5rem;
}
